pandas 
numpy
plotly
streamlit
streamlit-option-menu
streamlit-aggrid 
streamlit-plotly-events
streamlit-lottie 
streamlit-folium
streamlit-extras
phik==0.12.4
streamlit-pandas-profiling==0.1.3
ydata-profiling == 3.2.0
scikit-learn==1.2.2
#sklearn.preprocessing
joblib == 1.1.1
utils

