pandas 
numpy
#openpyxl
#Jinja2
plotly
streamlit
#pydantic-settings
streamlit-option-menu
streamlit-aggrid 
streamlit-plotly-events
streamlit-lottie 
streamlit-folium
streamlit-extras
phik==0.11.1
streamlit-pandas-profiling
ydata-profiling

scikitplot
scikit-learn==1.2.2
#scikit-learn
sklearn.preprocessing
joblib
utils