pandas 
numpy
plotly
streamlit
openpyxl
streamlit-option-menu
streamlit-aggrid 
streamlit-plotly-events
streamlit-lottie 
streamlit-folium
streamlit-extras
#phik==0.12.4
#pandas-profiling
#streamlit-pandas-profiling
#ydata-profiling
scikit-learn==1.2.2
#sklearn.preprocessing
joblib
utils

